*{ 
    margin: 0px;
    padding:  0px;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #413232;
    background-color: #ffffffed;
    
    }

    


body {
background-color: rgb(0, 0, 0);
color: #333;
line-height: 1.6;
font-size: 14px;
font-family: arial, sans-serif;
margin: 0px;
padding: 0px;
box-sizing: border-box;
}



.navbar{
display:flex;
justify-content: space-between;
align-items:center;
background-color: #030303;
color: rgb(47, 44, 44);
padding: 1rem 2rem;
position: relative;


}

.logo {
font-size: 1.5rem;
font-weight:bold ;
color: rgb(2, 0, 0);



}

.hanburger {
font-display:none;
flex-direction: column;
justify-content:space-between;
width:30px;
height:21px;
cursor:pointer;
position: absolute;
right: 1rem;
top: 1rem;

}

.bar {
height: 3px;
width: 100%;
background-color: #000000;
position: relative;
transform-origin: left center;
transition: transform 0.25s ease-in-out;
transform: rotate(0deg);
transition: 0.5s ease-in-out;
width:100%;
background-color:rgb(0, 0, 0);
margin: 5px 0;
transition: all 0.3s ease-in-out;
border-radius:10px;
transition:all 0.3s ease;
position: absolute;


}

.nav-menu {
display: flex;
list-style:none;
margin:0;
padding:0;
position: absolute;
top: 8rem;
right: 1rem;
background-color: #333;
border-radius: 10px;
padding: 1rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 250px;
height: 250px;
transition: all 0.3s ease;


}

.nav-item {
margin: left 2rem;;
padding: 1rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
transition: all 0.3s ease;


}

.nav-link {
color: white;
text-decoration:none;
transition:color 0.3s ease;


}

.nav-link-hover {
color:#ddd;
transition:color 0.3s ease;


}
.main {
padding:2rem ;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100vh;
background-color: #f0f0f0;
transition: all 0.3s ease;


}
/*media Query para doispositivos móveis
@media (max-width:768px) {*/
.hamburger{ 
display:flex

}

.nav-menu {
position: absolute;
top:100px;
left: 0%;
width:100%;
background: bisque;
flex-direction: column;
align-items: center;
padding:1rem 0;
clip-path: circle(0px at 90%-10%);
transition:clip-patch 0.5s ease-in-out;
pointer-events: none;

}
.nav-menu.active {
clip-path: circle(1000px at 90%-10%);
pointer-events: all;


}
.nav-item {
margin:1rem 0;

}

.hamburger.active .bar:nth-child(1)  {
 transform:traslatey(9px) rotate(45deg)


}

.hamburger.active.bar:nth-child(2) {
opacity:0;

}
.hamburger.active .bar:nth-child(3) {
transform:translateY(-9px)rotate(-45deg);
}